In [1]:
from datetime import datetime
import MetaTrader5 as mt5
import pandas as pd

In [2]:
if mt5.initialize():
    print("connected to mt5")
else:
    print("did not connect to mt5")

connected to mt5

In [3]:
time_from = datetime(2024, 10, 1)
time_to = datetime(2024, 11, 1)
symbol = "USDJPY"
timeframe = mt5.TIMEFRAME_M5

In [5]:
rates = mt5.copy_rates_range("USDJPY", mt5.TIMEFRAME_M5, time_from, time_to)
df = pd.DataFrame(rates)
df.dropna(subset='time', inplace=True)
df['time'] = pd.to_datetime(df['time'], unit='s')
df.reset_index(drop=True, inplace=True)

display(df)

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-09-30 20:30:00,142.980,143.062,142.969,143.048,323,7,0
1,2024-09-30 20:35:00,143.048,143.052,143.008,143.016,160,7,0
2,2024-09-30 20:40:00,143.016,143.076,143.005,143.061,213,7,0
3,2024-09-30 20:45:00,143.061,143.079,142.983,142.996,301,7,0
4,2024-09-30 20:50:00,142.995,143.011,142.955,142.984,239,7,0
...,...,...,...,...,...,...,...,...
6416,2024-10-31 20:10:00,152.024,152.083,152.010,152.012,260,2,0
6417,2024-10-31 20:15:00,152.009,152.030,152.001,152.011,191,2,0
6418,2024-10-31 20:20:00,152.010,152.032,151.992,152.031,180,2,0
6419,2024-10-31 20:25:00,152.030,152.108,152.030,152.098,221,1,0
6420,2024-10-31 20:30:00,152.101,152.137,151.973,152.031,280,2,0