In [8]:
import sys
sys.path.append("../..")

import time
from time import sleep
from datetime import datetime
import threading

import MetaTrader5 as mt5
import pandas as pd
from IPython.display import display
from lightweight_charts import JupyterChart
from IPython.display import clear_output, display

from sesto.fractal import high_low_finder
from sesto.utils import get_price_at_pnl, calculate_fee, calculate_position_size, get_pnl_at_price, convert_lots_to_usd
from sesto.metatrader.business import get_positions, send_market_order, modify_sl_tp
from sesto.metatrader.data import fetch_data_pos
from sesto.constants import CURRENCY_PAIRS, MT5Timeframe

In [9]:
# PAIRS = ['NZDJPY', 'AUDJPY', 'CADJPY', 'USDJPY']
PAIRS = ['BITCOIN', 'ETHEREUM', 'SOLANA', 'DOGECOIN', 'LITECOIN', 'RIPPLE', 'BNB', 'UNISWAP', 'AVALANCH']
MAIN_TIMEFRAME = MT5Timeframe.M15

TP_PNL_MULTIPLIER = 0.5
SL_PNL_MULTIPLIER = -0.25
LEVERAGE = 500
DEVIATION = 20
VOLUME = 0.1

TRAILING_STOP_STEPS = [
    {'trigger_pnl_multiplier': 4.00, 'new_sl_pnl_multiplier': 3.50},
    {'trigger_pnl_multiplier': 3.50, 'new_sl_pnl_multiplier': 3.00},
    {'trigger_pnl_multiplier': 3.00, 'new_sl_pnl_multiplier': 2.75},
    {'trigger_pnl_multiplier': 2.75, 'new_sl_pnl_multiplier': 2.50},
    {'trigger_pnl_multiplier': 2.50, 'new_sl_pnl_multiplier': 2.25},
    {'trigger_pnl_multiplier': 2.25, 'new_sl_pnl_multiplier': 2.00},
    {'trigger_pnl_multiplier': 2.00, 'new_sl_pnl_multiplier': 1.75},
    {'trigger_pnl_multiplier': 1.75, 'new_sl_pnl_multiplier': 1.50},
    {'trigger_pnl_multiplier': 1.50, 'new_sl_pnl_multiplier': 1.25},
    {'trigger_pnl_multiplier': 1.25, 'new_sl_pnl_multiplier': 1.00},
    {'trigger_pnl_multiplier': 1.00, 'new_sl_pnl_multiplier': 0.75},
    {'trigger_pnl_multiplier': 0.75, 'new_sl_pnl_multiplier': 0.45},
    {'trigger_pnl_multiplier': 0.50, 'new_sl_pnl_multiplier': 0.22},
    {'trigger_pnl_multiplier': 0.25, 'new_sl_pnl_multiplier': 0.12},
    {'trigger_pnl_multiplier': 0.12, 'new_sl_pnl_multiplier': 0.05},
    {'trigger_pnl_multiplier': 0.06, 'new_sl_pnl_multiplier': 0.025},
]

In [10]:
def calculate_trade_capital(symbol, volume_lots, leverage, price_open):
    position_size_usd = convert_lots_to_usd(symbol, volume_lots, price_open)
    capital_used = position_size_usd / leverage
    return capital_used

In [11]:
def have_open_positions_in_symbol(symbol):
    positions = get_positions()
    return symbol in positions['symbol'].values

In [12]:
# dict to store trades, keys are position tickets, values are the entire position object
trades = {}

In [13]:
# Utility Functions
def calculate_trade_capital(symbol, volume_lots, leverage, price_open):
    position_size_usd = convert_lots_to_usd(symbol, volume_lots, price_open)
    capital_used = position_size_usd / leverage
    return capital_used

def have_open_positions_in_symbol(symbol):
    positions = get_positions()
    return symbol in positions['symbol'].values

# Trading Logic Functions
def check_fractal_signals():
    while True:
        for pair in PAIRS:
            if have_open_positions_in_symbol(pair):
                continue

            df = fetch_data_pos(pair, MAIN_TIMEFRAME, 50)
            df['fractal'] = high_low_finder(df)
            df['symbol'] = pair
            display(df.tail())

            price = mt5.symbol_info_tick(pair).ask
            new_trade_capital = calculate_trade_capital(pair, VOLUME, LEVERAGE, price)
            trade_size = calculate_position_size(new_trade_capital, LEVERAGE)
            fee = calculate_fee(position_size_usd=trade_size) 

            last_row = df.iloc[-1]
            current_time = datetime.now().replace(microsecond=0)


            if df['fractal'].iloc[-1] == 'top':
                print(f"{current_time} - {pair} - ENTRY CONDITION - TOP FRACTAL DETECTED - CLOSE: ${last_row['close']:.3f}")
                sl = get_price_at_pnl(pnl_multiplier=SL_PNL_MULTIPLIER, order_fee=fee, position_size_usd=trade_size, leverage=LEVERAGE, entry_price=price, type='short')
                order = send_market_order(symbol=pair, volume=VOLUME, order_type='sell', sl=sl, deviation=DEVIATION)
                print(f'{current_time} - {pair} - OPENED POSITION - SHORT - PRICE: {price:.3f} - SL: {sl:.3f}')
            elif df['fractal'].iloc[-1] == 'bottom':
                print(f"{current_time} - {pair} - ENTRY CONDITION - BOTTOM FRACTAL DETECTED - CLOSE: ${last_row['close']:.3f}")
                sl = get_price_at_pnl(pnl_multiplier=SL_PNL_MULTIPLIER, order_fee=fee, position_size_usd=trade_size, leverage=LEVERAGE, entry_price=price, type='long')
                order = send_market_order(symbol=pair, volume=VOLUME, order_type='buy', sl=sl, deviation=DEVIATION)
                print(f'{current_time} - {pair} - OPENED POSITION - LONG - PRICE: {price:.3f} - SL: {sl:.3f}')
            # else:
                # print(f'{current_time} - {pair} - NO FRACTAL DETECTED')

        # Wait until the next 15-minute interval
        now = current_time
        next_run = (now.replace(second=0, microsecond=0) + pd.Timedelta(minutes=15 - now.minute % 15)).replace(second=0, microsecond=0)
        next_run += pd.Timedelta(seconds=2)  # Add 2 seconds

        sleep_time = (next_run - now).total_seconds()
        print(f"Waiting for {sleep_time} seconds until next 15-minute check.")
        sleep(sleep_time)

def monitor_open_trades():
    while True:
        current_time = datetime.now().replace(microsecond=0)

        positions = get_positions()
        # print(f'{current_time} - There are {len(positions)} positions open')
        positions['time'] = pd.to_datetime(positions['time'], unit='s')
        positions['time_update'] = pd.to_datetime(positions['time_update'], unit='s')

        for index, position in positions.iterrows():
            # Check if the position ticket exists in trades dict
            if position.ticket not in trades:
                trades[position.ticket] = position
            else:
                # Check if position has changed
                if not trades[position.ticket].equals(position):
                    trades[position.ticket] = position
            
            
            # Calculate the actual capital used for this trade
            trade_capital = calculate_trade_capital(position.symbol, position.volume, LEVERAGE, position.price_open)
            trade_size = calculate_position_size(trade_capital, LEVERAGE)
            fee = calculate_fee(position_size_usd=trade_size) 
            current_pnl_percentage = (position.profit / trade_capital) * 100
            current_sl_pnl = get_pnl_at_price(position.sl, position.price_open, trade_size, LEVERAGE, 'long' if position.type == 0 else 'short')
            current_sl_pnl_percentage = (current_sl_pnl / trade_capital) * 100
            # print(f'{position.time_update} - {position.symbol} - POSITION INFO - CURRENT PRICE: ${position.price_current:.3f} - OPEN PRICE: ${position.price_open:.3f} - TRADE CAPITAL: ${trade_capital:.3f} - CURRENT SL: ${position.sl:.3f}')
            # print(f'{position.time_update} - {position.symbol} - PNL INFO - PNL: ${position.profit:.3f} or {current_pnl_percentage:.3f}% - PNL AT CURRENT SL: ${current_sl_pnl:.3f} or {current_sl_pnl_percentage:.3f}%')

            for trailing_step in TRAILING_STOP_STEPS:
                trigger_pnl_multiplier = trailing_step['trigger_pnl_multiplier']
                new_sl_pnl_multiplier = trailing_step['new_sl_pnl_multiplier']

                price_at_trigger_pnl_multiplier = get_price_at_pnl(
                    pnl_multiplier=trigger_pnl_multiplier,
                    order_fee=fee,
                    position_size_usd=trade_size,
                    leverage=LEVERAGE,
                    entry_price=position.price_open,
                    type='long' if position.type == 0 else 'short'
                )
                new_sl_at_new_sl_pnl_multiplier = get_price_at_pnl(
                    pnl_multiplier=new_sl_pnl_multiplier,
                    order_fee=fee,
                    position_size_usd=trade_size,
                    leverage=LEVERAGE,
                    entry_price=position.price_open,
                    type='long' if position.type == 0 else 'short'
                )
                pnl_at_trigger = get_pnl_at_price(
                    price_at_trigger_pnl_multiplier,
                    position.price_open,
                    trade_size,
                    LEVERAGE,
                    'long' if position.type == 0 else 'short'
                )
                pnl_at_new_sl = get_pnl_at_price(
                    new_sl_at_new_sl_pnl_multiplier,
                    position.price_open,
                    trade_size,
                    LEVERAGE,
                    'long' if position.type == 0 else 'short'
                )

                pnl_threshold = trigger_pnl_multiplier * trade_capital
                # print(f'{position.time_update} - {position.symbol} - CHECKING TRAILING SL STEP - TRIGGER: {trigger_pnl_multiplier:.3f} (${price_at_trigger_pnl_multiplier:.3f}) (${pnl_at_trigger:.3f} PNL) - NEW SL: {new_sl_pnl_multiplier:.3f} (${new_sl_at_new_sl_pnl_multiplier:.3f}) (${pnl_at_new_sl:.3f} PNL)')

                if position.profit >= pnl_threshold:
                    old_sl_price = position.sl

                    if position.type == 0:  # Long
                        new_sl_price = get_price_at_pnl(
                            pnl_multiplier=new_sl_pnl_multiplier,
                            order_fee=fee,
                            position_size_usd=trade_capital,
                            leverage=LEVERAGE,
                            entry_price=position.price_open,
                            type='long'
                        )
                        if new_sl_price > old_sl_price:
                            print(f'{position.time_update} - {position.symbol} - NEW SL: ${new_sl_price:.3f}')
                            modify_sl_tp(position.ticket, new_sl_price, position.tp)
                    else:  # Short
                        new_sl_price = get_price_at_pnl(
                            pnl_multiplier=new_sl_pnl_multiplier,
                            order_fee=fee,
                            position_size_usd=trade_capital,
                            leverage=LEVERAGE,
                            entry_price=position.price_open,
                            type='short'
                        )
                        if new_sl_price < old_sl_price:
                            print(f'{position.time_update} - {position.symbol} - NEW SL: ${new_sl_price:.3f}')
                            modify_sl_tp(position.ticket, new_sl_price, position.tp)
                    
                    break        

        # Loop through our trades to see if they are not present in position meaning they have been closed
        for trade_ticket, trade in trades.items():
            if trade_ticket not in positions['ticket'].values:
                print(f'{datetime.now()} - {trade.symbol} - POSITION CLOSED - TICKET: {trade_ticket} - PNL: ${trade.profit:.3f}')
                del trades[trade_ticket]

        sleep(10)

In [14]:
# Starting Threads
if __name__ == "__main__":
    fractal_thread = threading.Thread(target=check_fractal_signals, daemon=True)
    monitor_thread = threading.Thread(target=monitor_open_trades, daemon=True)

    fractal_thread.start()
    monitor_thread.start()

    try:
        while True:
            sleep(1)
    except KeyboardInterrupt:
        print("Program terminated by user.")

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,61396.68,61514.80,61385.85,61438.69,555,0,0,top,BITCOIN
46,2024-10-04 11:00:00,61436.87,61462.06,61336.51,61404.19,618,0,0,bottom,BITCOIN
47,2024-10-04 11:15:00,61405.68,61635.99,61342.19,61563.87,726,0,0,0,BITCOIN
48,2024-10-04 11:30:00,61564.87,61646.57,61522.04,61581.20,751,0,0,top,BITCOIN
49,2024-10-04 11:45:00,61586.66,61601.43,61461.90,61471.58,575,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,2383.30,2385.69,2379.99,2381.29,644,0,0,top,ETHEREUM
46,2024-10-04 11:00:00,2381.33,2384.50,2377.81,2384.13,688,0,0,bottom,ETHEREUM
47,2024-10-04 11:15:00,2384.30,2393.63,2381.36,2388.63,785,0,0,top,ETHEREUM
48,2024-10-04 11:30:00,2389.19,2392.56,2387.66,2387.81,714,0,0,0,ETHEREUM
49,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2380.92,737,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,139.25,139.66,139.06,139.48,231,9,0,0,SOLANA
46,2024-10-04 11:00:00,139.46,140.17,139.12,140.14,304,9,0,0,SOLANA
47,2024-10-04 11:15:00,140.13,140.83,139.89,140.30,520,22,0,0,SOLANA
48,2024-10-04 11:30:00,140.31,140.88,140.16,140.56,482,14,0,top,SOLANA
49,2024-10-04 11:45:00,140.50,140.57,139.90,139.97,352,13,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,0.10758,0.10789,0.10748,0.10773,282,61,0,top,DOGECOIN
46,2024-10-04 11:00:00,0.10772,0.10782,0.10746,0.10772,318,60,0,bottom,DOGECOIN
47,2024-10-04 11:15:00,0.10770,0.10849,0.10757,0.10820,405,61,0,0,DOGECOIN
48,2024-10-04 11:30:00,0.10820,0.10854,0.10810,0.10839,442,61,0,top,DOGECOIN
49,2024-10-04 11:45:00,0.10842,0.10854,0.10780,0.10780,305,60,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,64.41,64.46,64.34,64.36,182,1,0,top,LITECOIN
46,2024-10-04 11:00:00,64.37,64.44,64.26,64.29,165,1,0,0,LITECOIN
47,2024-10-04 11:15:00,64.26,64.54,64.25,64.49,135,1,0,bottom,LITECOIN
48,2024-10-04 11:30:00,64.48,64.58,64.40,64.41,179,1,0,top,LITECOIN
49,2024-10-04 11:45:00,64.41,64.54,64.27,64.28,126,0,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,0.52322,0.52409,0.52247,0.52386,279,22,0,0,RIPPLE
46,2024-10-04 11:00:00,0.52386,0.52576,0.52320,0.52565,385,19,0,0,RIPPLE
47,2024-10-04 11:15:00,0.52565,0.52748,0.52464,0.52618,638,22,0,0,RIPPLE
48,2024-10-04 11:30:00,0.52623,0.52761,0.52578,0.52671,604,23,0,top,RIPPLE
49,2024-10-04 11:45:00,0.52673,0.52676,0.52357,0.52396,395,23,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,549.84,550.52,549.40,550.52,1610,11,0,0,BNB
46,2024-10-04 11:00:00,550.53,551.34,550.31,551.34,1535,11,0,0,BNB
47,2024-10-04 11:15:00,551.32,553.01,550.78,552.69,2040,11,0,0,BNB
48,2024-10-04 11:30:00,552.69,554.15,552.63,553.24,1886,11,0,top,BNB
49,2024-10-04 11:45:00,553.24,553.29,551.75,551.77,1362,11,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,25.18,25.27,25.18,25.24,62,11,0,0,AVALANCH
46,2024-10-04 11:00:00,25.23,25.38,25.21,25.38,61,11,0,0,AVALANCH
47,2024-10-04 11:15:00,25.39,25.51,25.30,25.46,98,11,0,0,AVALANCH
48,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
49,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,57,11,0,0,AVALANCH

Waiting for 160.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,61396.68,61514.80,61385.85,61438.69,555,0,0,top,BITCOIN
46,2024-10-04 11:00:00,61436.87,61462.06,61336.51,61404.19,618,0,0,bottom,BITCOIN
47,2024-10-04 11:15:00,61405.68,61635.99,61342.19,61563.87,726,0,0,0,BITCOIN
48,2024-10-04 11:30:00,61564.87,61646.57,61522.04,61581.20,751,0,0,top,BITCOIN
49,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,2381.33,2384.50,2377.81,2384.13,688,0,0,bottom,ETHEREUM
46,2024-10-04 11:15:00,2384.30,2393.63,2381.36,2388.63,785,0,0,top,ETHEREUM
47,2024-10-04 11:30:00,2389.19,2392.56,2387.66,2387.81,714,0,0,0,ETHEREUM
48,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
49,2024-10-04 12:00:00,2381.14,2381.14,2381.14,2381.14,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,139.25,139.66,139.06,139.48,231,9,0,0,SOLANA
46,2024-10-04 11:00:00,139.46,140.17,139.12,140.14,304,9,0,0,SOLANA
47,2024-10-04 11:15:00,140.13,140.83,139.89,140.30,520,22,0,0,SOLANA
48,2024-10-04 11:30:00,140.31,140.88,140.16,140.56,482,14,0,top,SOLANA
49,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,0.10758,0.10789,0.10748,0.10773,282,61,0,top,DOGECOIN
46,2024-10-04 11:00:00,0.10772,0.10782,0.10746,0.10772,318,60,0,bottom,DOGECOIN
47,2024-10-04 11:15:00,0.10770,0.10849,0.10757,0.10820,405,61,0,0,DOGECOIN
48,2024-10-04 11:30:00,0.10820,0.10854,0.10810,0.10839,442,61,0,top,DOGECOIN
49,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,64.37,64.44,64.26,64.29,165,1,0,0,LITECOIN
46,2024-10-04 11:15:00,64.26,64.54,64.25,64.49,135,1,0,bottom,LITECOIN
47,2024-10-04 11:30:00,64.48,64.58,64.40,64.41,179,1,0,top,LITECOIN
48,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
49,2024-10-04 12:00:00,64.25,64.25,64.25,64.25,1,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,61396.68,61514.80,61385.85,61438.69,555,0,0,top,BITCOIN
46,2024-10-04 11:00:00,61436.87,61462.06,61336.51,61404.19,618,0,0,bottom,BITCOIN
47,2024-10-04 11:15:00,61405.68,61635.99,61342.19,61563.87,726,0,0,0,BITCOIN
48,2024-10-04 11:30:00,61564.87,61646.57,61522.04,61581.20,751,0,0,top,BITCOIN
49,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,0.52386,0.52576,0.52320,0.52565,385,19,0,0,RIPPLE
46,2024-10-04 11:15:00,0.52565,0.52748,0.52464,0.52618,638,22,0,0,RIPPLE
47,2024-10-04 11:30:00,0.52623,0.52761,0.52578,0.52671,604,23,0,top,RIPPLE
48,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
49,2024-10-04 12:00:00,0.52299,0.52299,0.52299,0.52299,1,43,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,2381.33,2384.50,2377.81,2384.13,688,0,0,bottom,ETHEREUM
46,2024-10-04 11:15:00,2384.30,2393.63,2381.36,2388.63,785,0,0,top,ETHEREUM
47,2024-10-04 11:30:00,2389.19,2392.56,2387.66,2387.81,714,0,0,0,ETHEREUM
48,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
49,2024-10-04 12:00:00,2381.14,2381.14,2381.14,2381.14,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,550.53,551.34,550.31,551.34,1535,11,0,0,BNB
46,2024-10-04 11:15:00,551.32,553.01,550.78,552.69,2040,11,0,0,BNB
47,2024-10-04 11:30:00,552.69,554.15,552.63,553.24,1886,11,0,top,BNB
48,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
49,2024-10-04 12:00:00,551.69,551.69,551.69,551.69,1,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,25.18,25.27,25.18,25.24,62,11,0,0,AVALANCH
46,2024-10-04 11:00:00,25.23,25.38,25.21,25.38,61,11,0,0,AVALANCH
47,2024-10-04 11:15:00,25.39,25.51,25.30,25.46,98,11,0,0,AVALANCH
48,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
49,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,139.25,139.66,139.06,139.48,231,9,0,0,SOLANA
46,2024-10-04 11:00:00,139.46,140.17,139.12,140.14,304,9,0,0,SOLANA
47,2024-10-04 11:15:00,140.13,140.83,139.89,140.30,520,22,0,0,SOLANA
48,2024-10-04 11:30:00,140.31,140.88,140.16,140.56,482,14,0,top,SOLANA
49,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,0.10758,0.10789,0.10748,0.10773,282,61,0,top,DOGECOIN
46,2024-10-04 11:00:00,0.10772,0.10782,0.10746,0.10772,318,60,0,bottom,DOGECOIN
47,2024-10-04 11:15:00,0.10770,0.10849,0.10757,0.10820,405,61,0,0,DOGECOIN
48,2024-10-04 11:30:00,0.10820,0.10854,0.10810,0.10839,442,61,0,top,DOGECOIN
49,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,64.37,64.44,64.26,64.29,165,1,0,0,LITECOIN
46,2024-10-04 11:15:00,64.26,64.54,64.25,64.49,135,1,0,bottom,LITECOIN
47,2024-10-04 11:30:00,64.48,64.58,64.40,64.41,179,1,0,top,LITECOIN
48,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
49,2024-10-04 12:00:00,64.25,64.25,64.25,64.25,1,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,0.52386,0.52576,0.52320,0.52565,385,19,0,0,RIPPLE
46,2024-10-04 11:15:00,0.52565,0.52748,0.52464,0.52618,638,22,0,0,RIPPLE
47,2024-10-04 11:30:00,0.52623,0.52761,0.52578,0.52671,604,23,0,top,RIPPLE
48,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
49,2024-10-04 12:00:00,0.52299,0.52299,0.52299,0.52299,1,43,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,550.53,551.34,550.31,551.34,1535,11,0,0,BNB
46,2024-10-04 11:15:00,551.32,553.01,550.78,552.69,2040,11,0,0,BNB
47,2024-10-04 11:30:00,552.69,554.15,552.63,553.24,1886,11,0,top,BNB
48,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
49,2024-10-04 12:00:00,551.69,551.69,551.69,551.69,1,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 10:45:00,25.18,25.27,25.18,25.24,62,11,0,0,AVALANCH
46,2024-10-04 11:00:00,25.23,25.38,25.21,25.38,61,11,0,0,AVALANCH
47,2024-10-04 11:15:00,25.39,25.51,25.30,25.46,98,11,0,0,AVALANCH
48,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
49,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,61405.68,61635.99,61342.19,61563.87,726,0,0,0,BITCOIN
46,2024-10-04 11:30:00,61564.87,61646.57,61522.04,61581.20,751,0,0,top,BITCOIN
47,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN
48,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
49,2024-10-04 12:15:00,61511.25,61511.25,61511.25,61511.25,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,2384.30,2393.63,2381.36,2388.63,785,0,0,top,ETHEREUM
46,2024-10-04 11:30:00,2389.19,2392.56,2387.66,2387.81,714,0,0,0,ETHEREUM
47,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
48,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
49,2024-10-04 12:15:00,2383.76,2383.76,2383.76,2383.76,1,18,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,140.13,140.83,139.89,140.30,520,22,0,0,SOLANA
46,2024-10-04 11:30:00,140.31,140.88,140.16,140.56,482,14,0,top,SOLANA
47,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
48,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
49,2024-10-04 12:15:00,140.23,140.23,140.17,140.17,3,12,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,0.10770,0.10849,0.10757,0.10820,405,61,0,0,DOGECOIN
46,2024-10-04 11:30:00,0.10820,0.10854,0.10810,0.10839,442,61,0,top,DOGECOIN
47,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
48,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
49,2024-10-04 12:15:00,0.10820,0.10820,0.10819,0.10819,2,62,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,61405.68,61635.99,61342.19,61563.87,726,0,0,0,BITCOIN
46,2024-10-04 11:30:00,61564.87,61646.57,61522.04,61581.20,751,0,0,top,BITCOIN
47,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN
48,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
49,2024-10-04 12:15:00,61511.25,61511.25,61511.25,61511.25,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,2384.30,2393.63,2381.36,2388.63,785,0,0,top,ETHEREUM
46,2024-10-04 11:30:00,2389.19,2392.56,2387.66,2387.81,714,0,0,0,ETHEREUM
47,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
48,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
49,2024-10-04 12:15:00,2383.76,2383.76,2383.76,2383.76,1,18,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,64.26,64.54,64.25,64.49,135,1,0,bottom,LITECOIN
46,2024-10-04 11:30:00,64.48,64.58,64.40,64.41,179,1,0,top,LITECOIN
47,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
48,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,0,LITECOIN
49,2024-10-04 12:15:00,64.47,64.48,64.47,64.48,2,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,140.13,140.83,139.89,140.30,520,22,0,0,SOLANA
46,2024-10-04 11:30:00,140.31,140.88,140.16,140.56,482,14,0,top,SOLANA
47,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
48,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
49,2024-10-04 12:15:00,140.23,140.23,140.17,140.17,3,12,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,0.52565,0.52748,0.52464,0.52618,638,22,0,0,RIPPLE
46,2024-10-04 11:30:00,0.52623,0.52761,0.52578,0.52671,604,23,0,top,RIPPLE
47,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
48,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,0,RIPPLE
49,2024-10-04 12:15:00,0.52508,0.52508,0.52507,0.52507,2,31,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,551.32,553.01,550.78,552.69,2040,11,0,0,BNB
46,2024-10-04 11:30:00,552.69,554.15,552.63,553.24,1886,11,0,top,BNB
47,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
48,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,0,BNB
49,2024-10-04 12:15:00,552.78,552.79,552.77,552.78,5,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,0.10770,0.10849,0.10757,0.10820,405,61,0,0,DOGECOIN
46,2024-10-04 11:30:00,0.10820,0.10854,0.10810,0.10839,442,61,0,top,DOGECOIN
47,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
48,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
49,2024-10-04 12:15:00,0.10820,0.10820,0.10819,0.10819,2,62,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,25.23,25.38,25.21,25.38,61,11,0,0,AVALANCH
46,2024-10-04 11:15:00,25.39,25.51,25.30,25.46,98,11,0,0,AVALANCH
47,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
48,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
49,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,64.26,64.54,64.25,64.49,135,1,0,bottom,LITECOIN
46,2024-10-04 11:30:00,64.48,64.58,64.40,64.41,179,1,0,top,LITECOIN
47,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
48,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,0,LITECOIN
49,2024-10-04 12:15:00,64.47,64.48,64.47,64.48,2,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,0.52565,0.52748,0.52464,0.52618,638,22,0,0,RIPPLE
46,2024-10-04 11:30:00,0.52623,0.52761,0.52578,0.52671,604,23,0,top,RIPPLE
47,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
48,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,0,RIPPLE
49,2024-10-04 12:15:00,0.52508,0.52508,0.52507,0.52507,2,31,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,551.32,553.01,550.78,552.69,2040,11,0,0,BNB
46,2024-10-04 11:30:00,552.69,554.15,552.63,553.24,1886,11,0,top,BNB
47,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
48,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,0,BNB
49,2024-10-04 12:15:00,552.78,552.79,552.76,552.76,6,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:00:00,25.23,25.38,25.21,25.38,61,11,0,0,AVALANCH
46,2024-10-04 11:15:00,25.39,25.51,25.30,25.46,98,11,0,0,AVALANCH
47,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
48,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
49,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH

Waiting for 900.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,61405.68,61635.99,61342.19,61563.87,726,0,0,0,BITCOIN
46,2024-10-04 11:30:00,61564.87,61646.57,61522.04,61581.20,751,0,0,top,BITCOIN
47,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN
48,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
49,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,2389.19,2392.56,2387.66,2387.81,714,0,0,0,ETHEREUM
46,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
47,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
48,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
49,2024-10-04 12:30:00,2381.57,2381.57,2381.57,2381.57,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,140.31,140.88,140.16,140.56,482,14,0,top,SOLANA
46,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
47,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
48,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
49,2024-10-04 12:30:00,139.80,139.80,139.80,139.80,1,18,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,61564.87,61646.57,61522.04,61581.20,751,0,0,top,BITCOIN
46,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN
47,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
48,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
49,2024-10-04 12:30:00,61401.86,61401.86,61401.86,61401.86,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,0.10820,0.10854,0.10810,0.10839,442,61,0,top,DOGECOIN
46,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
47,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
48,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
49,2024-10-04 12:30:00,0.10746,0.10746,0.10745,0.10745,2,62,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,2389.19,2392.56,2387.66,2387.81,714,0,0,0,ETHEREUM
46,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
47,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
48,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
49,2024-10-04 12:30:00,2381.57,2381.76,2381.57,2381.64,3,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,140.31,140.88,140.16,140.56,482,14,0,top,SOLANA
46,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
47,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
48,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
49,2024-10-04 12:30:00,139.80,139.80,139.80,139.80,1,18,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,64.48,64.58,64.40,64.41,179,1,0,top,LITECOIN
46,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
47,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,bottom,LITECOIN
48,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,0,LITECOIN
49,2024-10-04 12:30:00,64.40,64.42,64.40,64.42,2,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,0.10820,0.10854,0.10810,0.10839,442,61,0,top,DOGECOIN
46,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
47,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
48,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
49,2024-10-04 12:30:00,0.10746,0.10746,0.10745,0.10745,2,62,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,0.52565,0.52748,0.52464,0.52618,638,22,0,0,RIPPLE
46,2024-10-04 11:30:00,0.52623,0.52761,0.52578,0.52671,604,23,0,top,RIPPLE
47,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
48,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,bottom,RIPPLE
49,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,552.69,554.15,552.63,553.24,1886,11,0,top,BNB
46,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
47,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,bottom,BNB
48,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,0,BNB
49,2024-10-04 12:30:00,551.97,552.00,551.97,552.00,7,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,64.48,64.58,64.40,64.41,179,1,0,top,LITECOIN
46,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
47,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,bottom,LITECOIN
48,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,0,LITECOIN
49,2024-10-04 12:30:00,64.40,64.42,64.40,64.42,2,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,0.52565,0.52748,0.52464,0.52618,638,22,0,0,RIPPLE
46,2024-10-04 11:30:00,0.52623,0.52761,0.52578,0.52671,604,23,0,top,RIPPLE
47,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
48,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,bottom,RIPPLE
49,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,25.39,25.51,25.30,25.46,98,11,0,0,AVALANCH
46,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
47,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
48,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
49,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,552.69,554.15,552.63,553.24,1886,11,0,top,BNB
46,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
47,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,bottom,BNB
48,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,0,BNB
49,2024-10-04 12:30:00,551.97,552.00,551.97,551.99,8,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:15:00,25.39,25.51,25.30,25.46,98,11,0,0,AVALANCH
46,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
47,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
48,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
49,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN
46,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
47,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
48,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
49,2024-10-04 12:45:00,61356.05,61357.84,61355.56,61357.84,3,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
46,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
47,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
48,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
49,2024-10-04 12:45:00,2380.25,2380.25,2379.90,2379.90,2,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,61586.66,61601.43,61444.75,61444.75,626,0,0,0,BITCOIN
46,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
47,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
48,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
49,2024-10-04 12:45:00,61356.05,61357.84,61355.56,61357.84,3,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,2387.81,2387.94,2380.56,2381.14,841,0,0,0,ETHEREUM
46,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
47,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
48,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
49,2024-10-04 12:45:00,2380.25,2380.25,2379.90,2379.90,2,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
46,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
47,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
48,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
49,2024-10-04 12:45:00,139.65,139.65,139.65,139.65,1,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
46,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
47,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
48,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
49,2024-10-04 12:45:00,139.65,139.65,139.65,139.65,1,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
46,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
47,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
48,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
49,2024-10-04 12:45:00,0.10740,0.10741,0.10740,0.10741,2,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
46,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
47,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
48,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
49,2024-10-04 12:45:00,0.10740,0.10741,0.10740,0.10741,2,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
46,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,bottom,LITECOIN
47,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
48,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
49,2024-10-04 12:45:00,64.40,64.40,64.40,64.40,1,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
46,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,bottom,RIPPLE
47,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,top,RIPPLE
48,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
49,2024-10-04 12:45:00,0.52273,0.52273,0.52273,0.52273,1,42,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,64.41,64.54,64.25,64.25,137,0,0,0,LITECOIN
46,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,bottom,LITECOIN
47,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
48,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
49,2024-10-04 12:45:00,64.40,64.40,64.40,64.40,1,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
46,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,bottom,BNB
47,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,top,BNB
48,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
49,2024-10-04 12:45:00,551.63,551.72,551.63,551.72,7,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,0.52673,0.52676,0.52261,0.52298,476,23,0,0,RIPPLE
46,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,bottom,RIPPLE
47,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,top,RIPPLE
48,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
49,2024-10-04 12:45:00,0.52273,0.52273,0.52273,0.52273,1,42,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,553.24,553.29,551.66,551.68,1547,11,0,0,BNB
46,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,bottom,BNB
47,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,top,BNB
48,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
49,2024-10-04 12:45:00,551.63,551.72,551.63,551.72,7,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
46,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
47,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
48,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
49,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:30:00,25.46,25.56,25.43,25.50,121,11,0,top,AVALANCH
46,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
47,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
48,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
49,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
46,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
47,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
48,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
49,2024-10-04 13:00:00,61333.39,61333.39,61333.39,61333.39,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,61445.42,61563.27,61403.11,61514.89,607,0,0,0,BITCOIN
46,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
47,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
48,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
49,2024-10-04 13:00:00,61333.39,61333.39,61333.39,61333.39,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
46,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
47,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
48,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
49,2024-10-04 13:00:00,2376.67,2376.67,2376.67,2376.67,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
46,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
47,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
48,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
49,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,2381.14,2387.06,2380.55,2384.31,782,0,0,0,ETHEREUM
46,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
47,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
48,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
49,2024-10-04 13:00:00,2376.67,2376.67,2376.67,2376.67,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
46,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
47,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
48,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
49,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,140.50,140.57,139.89,139.90,401,13,0,0,SOLANA
46,2024-10-04 12:00:00,139.91,140.40,139.91,140.23,306,9,0,0,SOLANA
47,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
48,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
49,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,bottom,LITECOIN
46,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
47,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
48,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
49,2024-10-04 13:00:00,64.31,64.31,64.31,64.31,1,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,0.10842,0.10854,0.10772,0.10775,333,60,0,0,DOGECOIN
46,2024-10-04 12:00:00,0.10774,0.10827,0.10766,0.10821,349,61,0,0,DOGECOIN
47,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
48,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
49,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,bottom,RIPPLE
46,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,top,RIPPLE
47,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
48,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
49,2024-10-04 13:00:00,0.52272,0.52272,0.52270,0.52270,2,43,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,64.25,64.50,64.24,64.47,147,0,0,bottom,LITECOIN
46,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
47,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
48,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
49,2024-10-04 13:00:00,64.31,64.31,64.31,64.31,1,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,0.52299,0.52528,0.52214,0.52509,513,20,0,bottom,RIPPLE
46,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,top,RIPPLE
47,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
48,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
49,2024-10-04 13:00:00,0.52272,0.52272,0.52270,0.52270,2,43,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,bottom,BNB
46,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,top,BNB
47,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
48,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,0,BNB
49,2024-10-04 13:00:00,550.71,550.72,550.70,550.72,4,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,551.69,552.96,551.26,552.78,1553,11,0,bottom,BNB
46,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,top,BNB
47,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
48,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,0,BNB
49,2024-10-04 13:00:00,550.71,550.72,550.70,550.72,4,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
46,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
47,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
48,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
49,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 11:45:00,25.49,25.49,25.38,25.39,78,11,0,bottom,AVALANCH
46,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
47,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
48,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
49,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
46,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
47,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
48,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
49,2024-10-04 13:15:00,61291.45,61291.45,61289.46,61289.46,2,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
46,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
47,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
48,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
49,2024-10-04 13:15:00,61291.45,61291.45,61289.46,61289.46,2,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
46,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
47,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
48,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
49,2024-10-04 13:15:00,2375.71,2375.83,2375.71,2375.83,3,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
46,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
47,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
48,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
49,2024-10-04 13:15:00,2375.71,2375.83,2375.71,2375.83,3,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
46,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
47,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA
48,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
49,2024-10-04 13:15:00,139.65,139.66,139.65,139.66,2,19,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
46,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
47,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA
48,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
49,2024-10-04 13:15:00,139.65,139.66,139.65,139.66,2,19,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
46,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
47,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN
48,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,0,DOGECOIN
49,2024-10-04 13:15:00,0.10725,0.10725,0.10725,0.10725,1,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
46,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
47,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN
48,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,0,DOGECOIN
49,2024-10-04 13:15:00,0.10725,0.10725,0.10725,0.10725,1,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
46,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
47,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
48,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
49,2024-10-04 13:15:00,64.19,64.20,64.19,64.20,2,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,top,RIPPLE
46,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
47,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
48,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,0,RIPPLE
49,2024-10-04 13:15:00,0.52188,0.52189,0.52188,0.52189,2,37,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
46,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
47,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
48,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
49,2024-10-04 13:15:00,64.19,64.20,64.19,64.20,2,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,top,BNB
46,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
47,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,bottom,BNB
48,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,0,BNB
49,2024-10-04 13:15:00,551.27,551.27,551.23,551.26,5,11,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,0.52508,0.52579,0.52265,0.52336,599,23,0,top,RIPPLE
46,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
47,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
48,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,0,RIPPLE
49,2024-10-04 13:15:00,0.52188,0.52189,0.52188,0.52189,2,37,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,552.78,553.26,551.64,551.98,1751,11,0,top,BNB
46,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
47,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,bottom,BNB
48,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,0,BNB
49,2024-10-04 13:15:00,551.27,551.27,551.23,551.26,5,11,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
46,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
47,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
48,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
49,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:00:00,25.40,25.57,25.39,25.55,93,11,0,0,AVALANCH
46,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
47,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
48,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
49,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
46,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
47,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
48,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
49,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,61511.25,61586.39,61358.74,61402.36,683,0,0,0,BITCOIN
46,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
47,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
48,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
49,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
46,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
47,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
48,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
49,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,2383.76,2387.43,2379.79,2381.57,768,0,0,0,ETHEREUM
46,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
47,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
48,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
49,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
46,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
47,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA
48,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
49,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,140.23,140.44,139.61,139.80,337,10,0,0,SOLANA
46,2024-10-04 12:30:00,139.80,139.92,139.56,139.63,264,8,0,0,SOLANA
47,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA
48,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
49,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
46,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
47,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN
48,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
49,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,0.10820,0.10821,0.10741,0.10747,420,61,0,0,DOGECOIN
46,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
47,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN
48,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
49,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
46,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
47,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
48,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
49,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,64.47,64.55,64.40,64.43,181,1,0,top,LITECOIN
46,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
47,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
48,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
49,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
46,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
47,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,0,RIPPLE
48,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
49,2024-10-04 13:30:00,0.52263,0.52263,0.52263,0.52263,1,42,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,0.52336,0.52379,0.52215,0.52270,543,22,0,0,RIPPLE
46,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
47,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,0,RIPPLE
48,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
49,2024-10-04 13:30:00,0.52263,0.52263,0.52263,0.52263,1,42,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
46,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,bottom,BNB
47,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,top,BNB
48,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,0,BNB
49,2024-10-04 13:30:00,551.25,551.25,551.25,551.25,1,15,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,551.97,552.10,551.10,551.64,1654,11,0,0,BNB
46,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,bottom,BNB
47,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,top,BNB
48,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,0,BNB
49,2024-10-04 13:30:00,551.25,551.25,551.25,551.25,1,15,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
46,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
47,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
48,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
49,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:15:00,25.56,25.61,25.44,25.46,103,11,0,top,AVALANCH
46,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
47,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
48,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
49,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
46,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
47,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
48,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,bottom,BITCOIN
49,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,61401.86,61448.90,61326.65,61356.55,654,0,0,0,BITCOIN
46,2024-10-04 12:45:00,61356.05,61391.33,61300.85,61333.41,716,0,0,0,BITCOIN
47,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
48,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,bottom,BITCOIN
49,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
46,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
47,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
48,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM
49,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,2381.57,2383.20,2377.69,2380.00,584,0,0,0,ETHEREUM
46,2024-10-04 12:45:00,2380.25,2381.09,2374.17,2376.74,658,0,0,0,ETHEREUM
47,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
48,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM
49,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA
46,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
47,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
48,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
49,2024-10-04 13:45:00,139.85,139.85,139.85,139.85,1,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,139.65,139.80,139.46,139.71,205,6,0,0,SOLANA
46,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
47,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
48,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
49,2024-10-04 13:45:00,139.85,139.85,139.85,139.85,1,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
46,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN
47,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
48,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
49,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,0.10746,0.10753,0.10719,0.10737,326,60,0,0,DOGECOIN
46,2024-10-04 12:45:00,0.10740,0.10753,0.10712,0.10712,292,60,0,0,DOGECOIN
47,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
48,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
49,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
46,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
47,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
48,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN
49,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,64.40,64.48,64.35,64.40,174,2,0,0,LITECOIN
46,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
47,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
48,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN
49,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
46,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,bottom,RIPPLE
47,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
48,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
49,2024-10-04 13:45:00,0.52468,0.52468,0.52468,0.52468,1,42,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,0.52273,0.52306,0.52232,0.52272,389,26,0,0,RIPPLE
46,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,bottom,RIPPLE
47,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
48,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
49,2024-10-04 13:45:00,0.52468,0.52468,0.52468,0.52468,1,42,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,bottom,BNB
46,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,top,BNB
47,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,bottom,BNB
48,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
49,2024-10-04 13:45:00,552.18,552.18,552.18,552.18,1,18,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,551.63,551.78,550.55,550.71,1567,11,0,bottom,BNB
46,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,top,BNB
47,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,bottom,BNB
48,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
49,2024-10-04 13:45:00,552.18,552.18,552.18,552.18,1,18,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
46,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
47,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
48,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,bottom,AVALANCH
49,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:30:00,25.48,25.58,25.43,25.53,115,10,0,0,AVALANCH
46,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
47,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
48,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,bottom,AVALANCH
49,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
46,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,bottom,BITCOIN
47,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN
48,2024-10-04 13:45:00,61356.50,61380.69,61269.41,61276.34,400,0,0,0,BITCOIN
49,2024-10-04 14:00:00,61279.53,61279.53,61279.53,61279.53,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
46,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,bottom,BITCOIN
47,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN
48,2024-10-04 13:45:00,61356.50,61380.69,61269.41,61276.34,400,0,0,0,BITCOIN
49,2024-10-04 14:00:00,61279.53,61279.53,61279.53,61279.53,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
46,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM
47,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,0,ETHEREUM
48,2024-10-04 13:45:00,2378.39,2379.23,2373.56,2374.60,615,0,0,0,ETHEREUM
49,2024-10-04 14:00:00,2374.59,2374.59,2374.59,2374.59,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
46,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
47,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
48,2024-10-04 13:45:00,139.85,139.88,139.04,139.32,225,7,0,0,SOLANA
49,2024-10-04 14:00:00,139.32,139.32,139.32,139.32,1,25,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,2376.67,2379.79,2374.87,2375.84,666,0,0,0,ETHEREUM
46,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM
47,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,0,ETHEREUM
48,2024-10-04 13:45:00,2378.39,2379.23,2373.56,2374.60,615,0,0,0,ETHEREUM
49,2024-10-04 14:00:00,2374.59,2374.59,2374.59,2374.59,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,139.71,140.18,139.40,139.65,264,7,0,0,SOLANA
46,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
47,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
48,2024-10-04 13:45:00,139.85,139.88,139.04,139.32,225,7,0,0,SOLANA
49,2024-10-04 14:00:00,139.32,139.32,139.32,139.32,1,25,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
46,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
47,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,top,DOGECOIN
48,2024-10-04 13:45:00,0.10758,0.10767,0.10693,0.10706,282,61,0,0,DOGECOIN
49,2024-10-04 14:00:00,0.10706,0.10706,0.10706,0.10706,1,62,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
46,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
47,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,top,DOGECOIN
48,2024-10-04 13:45:00,0.10758,0.10767,0.10693,0.10706,282,61,0,0,DOGECOIN
49,2024-10-04 14:00:00,0.10706,0.10706,0.10706,0.10706,1,62,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
46,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
47,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN
48,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,0,LITECOIN
49,2024-10-04 13:45:00,64.21,64.22,64.07,64.11,135,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,bottom,RIPPLE
46,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
47,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
48,2024-10-04 13:45:00,0.52468,0.52521,0.52237,0.52335,376,25,0,0,RIPPLE
49,2024-10-04 14:00:00,0.52336,0.52336,0.52336,0.52336,1,51,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,64.40,64.41,64.24,64.31,206,2,0,0,LITECOIN
46,2024-10-04 13:00:00,64.31,64.40,64.19,64.20,161,2,0,0,LITECOIN
47,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN
48,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,0,LITECOIN
49,2024-10-04 13:45:00,64.21,64.22,64.07,64.11,135,4,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,0.52272,0.52395,0.52133,0.52188,507,23,0,bottom,RIPPLE
46,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
47,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
48,2024-10-04 13:45:00,0.52468,0.52521,0.52237,0.52335,376,25,0,0,RIPPLE
49,2024-10-04 14:00:00,0.52336,0.52336,0.52336,0.52336,1,51,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,top,BNB
46,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,bottom,BNB
47,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
48,2024-10-04 13:45:00,552.18,552.61,551.70,552.24,1408,11,0,0,BNB
49,2024-10-04 14:00:00,552.24,552.30,552.24,552.30,2,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
46,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
47,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,bottom,AVALANCH
48,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH
49,2024-10-04 13:45:00,25.46,25.48,25.36,25.37,61,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,550.71,552.09,550.70,551.30,1591,11,0,top,BNB
46,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,bottom,BNB
47,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
48,2024-10-04 13:45:00,552.18,552.61,551.70,552.24,1408,11,0,0,BNB
49,2024-10-04 14:00:00,552.24,552.30,552.24,552.30,2,12,0,0,BNB

Waiting for 900.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 12:45:00,25.54,25.55,25.42,25.44,99,11,0,0,AVALANCH
46,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
47,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,bottom,AVALANCH
48,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH
49,2024-10-04 13:45:00,25.46,25.48,25.36,25.37,61,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
46,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,bottom,BITCOIN
47,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN
48,2024-10-04 13:45:00,61356.50,61380.69,61269.41,61276.34,400,0,0,0,BITCOIN
49,2024-10-04 14:00:00,61279.53,61421.64,61267.76,61411.73,457,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,61333.39,61402.01,61257.67,61298.44,547,0,0,0,BITCOIN
46,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,bottom,BITCOIN
47,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN
48,2024-10-04 13:45:00,61356.50,61380.69,61269.41,61276.34,400,0,0,0,BITCOIN
49,2024-10-04 14:00:00,61279.53,61421.64,61267.76,61411.73,457,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM
46,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,0,ETHEREUM
47,2024-10-04 13:45:00,2378.39,2379.23,2373.56,2374.60,615,0,0,0,ETHEREUM
48,2024-10-04 14:00:00,2374.59,2378.82,2373.50,2378.56,543,0,0,0,ETHEREUM
49,2024-10-04 14:15:00,2378.49,2378.49,2378.49,2378.49,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM
46,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,0,ETHEREUM
47,2024-10-04 13:45:00,2378.39,2379.23,2373.56,2374.60,615,0,0,0,ETHEREUM
48,2024-10-04 14:00:00,2374.59,2378.82,2373.50,2378.56,543,0,0,0,ETHEREUM
49,2024-10-04 14:15:00,2378.49,2378.49,2378.49,2378.49,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
46,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
47,2024-10-04 13:45:00,139.85,139.88,139.04,139.32,225,7,0,0,SOLANA
48,2024-10-04 14:00:00,139.32,139.73,139.17,139.64,211,9,0,0,SOLANA
49,2024-10-04 14:15:00,139.64,139.64,139.64,139.64,1,10,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
46,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
47,2024-10-04 13:45:00,139.85,139.88,139.04,139.32,225,7,0,0,SOLANA
48,2024-10-04 14:00:00,139.32,139.73,139.17,139.64,211,9,0,0,SOLANA
49,2024-10-04 14:15:00,139.64,139.64,139.64,139.64,1,10,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
46,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
47,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,top,DOGECOIN
48,2024-10-04 13:45:00,0.10758,0.10767,0.10693,0.10706,282,61,0,0,DOGECOIN
49,2024-10-04 14:00:00,0.10706,0.10739,0.10697,0.10738,274,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,0.10713,0.10746,0.10705,0.10724,309,61,0,bottom,DOGECOIN
46,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
47,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,top,DOGECOIN
48,2024-10-04 13:45:00,0.10758,0.10767,0.10693,0.10706,282,61,0,0,DOGECOIN
49,2024-10-04 14:00:00,0.10706,0.10739,0.10697,0.10738,274,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN
46,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,bottom,LITECOIN
47,2024-10-04 13:45:00,64.21,64.22,64.07,64.11,135,4,0,0,LITECOIN
48,2024-10-04 14:00:00,64.11,64.25,64.05,64.23,140,3,0,0,LITECOIN
49,2024-10-04 14:15:00,64.22,64.22,64.22,64.22,1,7,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN
46,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,bottom,LITECOIN
47,2024-10-04 13:45:00,64.21,64.22,64.07,64.11,135,4,0,0,LITECOIN
48,2024-10-04 14:00:00,64.11,64.25,64.05,64.23,140,3,0,0,LITECOIN
49,2024-10-04 14:15:00,64.22,64.22,64.22,64.22,1,7,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
46,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
47,2024-10-04 13:45:00,0.52468,0.52521,0.52237,0.52335,376,25,0,top,RIPPLE
48,2024-10-04 14:00:00,0.52336,0.52364,0.52203,0.52237,450,23,0,0,RIPPLE
49,2024-10-04 14:15:00,0.52240,0.52240,0.52240,0.52240,1,46,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,bottom,BNB
46,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
47,2024-10-04 13:45:00,552.18,552.61,551.70,552.24,1408,11,0,0,BNB
48,2024-10-04 14:00:00,552.24,552.99,552.04,552.86,1340,11,0,0,BNB
49,2024-10-04 14:15:00,552.86,552.86,552.86,552.86,1,13,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,0.52188,0.52369,0.52180,0.52263,389,24,0,0,RIPPLE
46,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
47,2024-10-04 13:45:00,0.52468,0.52521,0.52237,0.52335,376,25,0,top,RIPPLE
48,2024-10-04 14:00:00,0.52336,0.52364,0.52203,0.52237,450,23,0,0,RIPPLE
49,2024-10-04 14:15:00,0.52240,0.52240,0.52240,0.52240,1,46,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,551.27,551.78,550.67,551.25,1430,11,0,bottom,BNB
46,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
47,2024-10-04 13:45:00,552.18,552.61,551.70,552.24,1408,11,0,0,BNB
48,2024-10-04 14:00:00,552.24,552.99,552.04,552.86,1340,11,0,0,BNB
49,2024-10-04 14:15:00,552.86,552.86,552.86,552.86,1,13,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
46,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,bottom,AVALANCH
47,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH
48,2024-10-04 13:45:00,25.46,25.48,25.36,25.37,61,11,0,0,AVALANCH
49,2024-10-04 14:00:00,25.38,25.49,25.36,25.48,78,11,0,0,AVALANCH

Waiting for 899.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:00:00,25.45,25.53,25.40,25.43,78,11,0,0,AVALANCH
46,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,bottom,AVALANCH
47,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH
48,2024-10-04 13:45:00,25.46,25.48,25.36,25.37,61,11,0,0,AVALANCH
49,2024-10-04 14:00:00,25.38,25.49,25.36,25.48,78,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,61291.45,61361.98,61250.69,61271.47,725,0,0,bottom,BITCOIN
46,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN
47,2024-10-04 13:45:00,61356.50,61380.69,61269.41,61276.34,400,0,0,0,BITCOIN
48,2024-10-04 14:00:00,61279.53,61421.64,61267.76,61411.73,457,0,0,0,BITCOIN
49,2024-10-04 14:15:00,61412.24,61458.41,61281.36,61291.53,804,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,2375.71,2379.12,2374.28,2374.83,721,0,0,0,ETHEREUM
46,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,bottom,ETHEREUM
47,2024-10-04 13:45:00,2378.39,2379.23,2373.56,2374.60,615,0,0,0,ETHEREUM
48,2024-10-04 14:00:00,2374.59,2378.82,2373.50,2378.56,543,0,0,0,ETHEREUM
49,2024-10-04 14:15:00,2378.49,2382.18,2377.48,2378.30,590,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
46,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
47,2024-10-04 13:45:00,139.85,139.88,139.04,139.32,225,7,0,bottom,SOLANA
48,2024-10-04 14:00:00,139.32,139.73,139.17,139.64,211,9,0,0,SOLANA
49,2024-10-04 14:15:00,139.64,139.91,139.39,139.46,249,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,61272.48,61427.62,61254.84,61362.04,504,0,0,0,BITCOIN
46,2024-10-04 13:45:00,61356.50,61380.69,61269.41,61276.34,400,0,0,0,BITCOIN
47,2024-10-04 14:00:00,61279.53,61421.64,61267.76,61411.73,457,0,0,0,BITCOIN
48,2024-10-04 14:15:00,61412.24,61458.41,61281.36,61291.53,804,0,0,0,BITCOIN
49,2024-10-04 14:30:00,61291.23,61291.23,61291.23,61291.23,1,0,0,0,BITCOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
46,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,top,DOGECOIN
47,2024-10-04 13:45:00,0.10758,0.10767,0.10693,0.10706,282,61,0,bottom,DOGECOIN
48,2024-10-04 14:00:00,0.10706,0.10739,0.10697,0.10738,274,61,0,0,DOGECOIN
49,2024-10-04 14:15:00,0.10739,0.10775,0.10736,0.10758,245,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,2374.91,2379.65,2373.25,2378.45,672,0,0,bottom,ETHEREUM
46,2024-10-04 13:45:00,2378.39,2379.23,2373.56,2374.60,615,0,0,0,ETHEREUM
47,2024-10-04 14:00:00,2374.59,2378.82,2373.50,2378.56,543,0,0,0,ETHEREUM
48,2024-10-04 14:15:00,2378.49,2382.18,2377.48,2378.30,590,0,0,0,ETHEREUM
49,2024-10-04 14:30:00,2378.30,2378.30,2378.30,2378.30,1,0,0,0,ETHEREUM

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,64.19,64.22,64.05,64.08,176,3,0,0,LITECOIN
46,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,bottom,LITECOIN
47,2024-10-04 13:45:00,64.21,64.22,64.07,64.11,135,4,0,0,LITECOIN
48,2024-10-04 14:00:00,64.11,64.25,64.05,64.23,140,3,0,0,LITECOIN
49,2024-10-04 14:15:00,64.22,64.34,64.11,64.11,121,3,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
46,2024-10-04 13:45:00,0.52468,0.52521,0.52237,0.52335,376,25,0,top,RIPPLE
47,2024-10-04 14:00:00,0.52336,0.52364,0.52203,0.52237,450,23,0,0,RIPPLE
48,2024-10-04 14:15:00,0.52240,0.52411,0.52183,0.52301,541,20,0,0,RIPPLE
49,2024-10-04 14:30:00,0.52301,0.52302,0.52301,0.52302,2,42,0,0,RIPPLE

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,139.65,139.96,139.36,139.57,202,9,0,0,SOLANA
46,2024-10-04 13:30:00,139.59,139.93,139.48,139.85,222,7,0,0,SOLANA
47,2024-10-04 13:45:00,139.85,139.88,139.04,139.32,225,7,0,bottom,SOLANA
48,2024-10-04 14:00:00,139.32,139.73,139.17,139.64,211,9,0,0,SOLANA
49,2024-10-04 14:15:00,139.64,139.91,139.39,139.46,249,9,0,0,SOLANA

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
46,2024-10-04 13:45:00,552.18,552.61,551.70,552.24,1408,11,0,0,BNB
47,2024-10-04 14:00:00,552.24,552.99,552.04,552.86,1340,11,0,0,BNB
48,2024-10-04 14:15:00,552.86,553.29,552.30,552.35,1276,11,0,0,BNB
49,2024-10-04 14:30:00,552.35,552.45,552.35,552.45,3,12,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,0.10725,0.10750,0.10714,0.10729,251,60,0,0,DOGECOIN
46,2024-10-04 13:30:00,0.10730,0.10767,0.10724,0.10759,281,61,0,top,DOGECOIN
47,2024-10-04 13:45:00,0.10758,0.10767,0.10693,0.10706,282,61,0,bottom,DOGECOIN
48,2024-10-04 14:00:00,0.10706,0.10739,0.10697,0.10738,274,61,0,0,DOGECOIN
49,2024-10-04 14:15:00,0.10739,0.10775,0.10736,0.10758,245,61,0,0,DOGECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,64.08,64.23,64.03,64.21,136,3,0,bottom,LITECOIN
46,2024-10-04 13:45:00,64.21,64.22,64.07,64.11,135,4,0,0,LITECOIN
47,2024-10-04 14:00:00,64.11,64.25,64.05,64.23,140,3,0,0,LITECOIN
48,2024-10-04 14:15:00,64.22,64.34,64.11,64.11,121,3,0,0,LITECOIN
49,2024-10-04 14:30:00,64.12,64.12,64.12,64.12,1,6,0,0,LITECOIN

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:15:00,25.44,25.44,25.32,25.32,54,11,0,bottom,AVALANCH
46,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH
47,2024-10-04 13:45:00,25.46,25.48,25.36,25.37,61,11,0,0,AVALANCH
48,2024-10-04 14:00:00,25.38,25.49,25.36,25.48,78,11,0,0,AVALANCH
49,2024-10-04 14:15:00,25.49,25.54,25.45,25.45,92,11,0,0,AVALANCH

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,0.52263,0.52492,0.52260,0.52465,410,21,0,0,RIPPLE
46,2024-10-04 13:45:00,0.52468,0.52521,0.52237,0.52335,376,25,0,top,RIPPLE
47,2024-10-04 14:00:00,0.52336,0.52364,0.52203,0.52237,450,23,0,0,RIPPLE
48,2024-10-04 14:15:00,0.52240,0.52411,0.52183,0.52301,541,20,0,0,RIPPLE
49,2024-10-04 14:30:00,0.52301,0.52305,0.52301,0.52305,3,40,0,0,RIPPLE

Waiting for 900.0 seconds until next 15-minute check.

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,551.25,552.53,551.03,552.18,1406,11,0,0,BNB
46,2024-10-04 13:45:00,552.18,552.61,551.70,552.24,1408,11,0,0,BNB
47,2024-10-04 14:00:00,552.24,552.99,552.04,552.86,1340,11,0,0,BNB
48,2024-10-04 14:15:00,552.86,553.29,552.30,552.35,1276,11,0,0,BNB
49,2024-10-04 14:30:00,552.35,552.45,552.35,552.41,5,11,0,0,BNB

,time,open,high,low,close,tick_volume,spread,real_volume,fractal,symbol
45,2024-10-04 13:30:00,25.33,25.48,25.33,25.46,73,11,0,0,AVALANCH
46,2024-10-04 13:45:00,25.46,25.48,25.36,25.37,61,11,0,0,AVALANCH
47,2024-10-04 14:00:00,25.38,25.49,25.36,25.48,78,11,0,0,AVALANCH
48,2024-10-04 14:15:00,25.49,25.54,25.45,25.45,92,11,0,0,AVALANCH
49,2024-10-04 14:30:00,25.46,25.46,25.46,25.46,1,12,0,0,AVALANCH